/* =========================================
   1. RESET CSS (Limpando a casa)
========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden !important; /* Corta qualquer coisa que tente sair pelos lados */
    width: 100%;
    position: relative;
}

/* =========================================
   2. ESTILOS BASE
========================================= */
body {
    background-color: #fbf1ee;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.container {
    position: relative; /* ÂNCORA OFICIAL */
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}












/* =========================================
   3. ESTRUTURA DAS SEÇÕES (Mobile First)
========================================= */

/* TELA 1: MENSAGEM */
.secao-mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
    min-height: 100vh; 
    justify-content: center; 
    text-align: center;
}

.mulher{
    position: absolute;
    width: 300px;
    align-items: center;


}



.player {
    cursor: pointer; /* Faz o mouse virar mãozinha */
    transition: transform 0.2s ease; /* Dá um efeitinho suave */
}

.fonte-romantica {
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
}

.fonte-normal {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

/* Efeito bônus: o botão dá uma leve afundada quando clica */
.player:active {
    transform: scale(0.95);
}

.texto-principal {
    margin-bottom: 30px; 
    z-index: 2;
    width: 90%;
}

.player {
    width: 50%;
}

.texto-play {
    font-size: 12px; 
    color: #555; 
    margin-top: -20px; 
    font-style: initial; 
}

/* TELA 2: FOTOS */
.secao-fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 26px; 
    width: 100%;
    min-height: 100vh;
    align-content: center; 
    position: relative; /* Âncora para ícones internos */
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
} 

/* ESTILO DAS POLAROIDS */

.polaroid {
    position: relative; /* Transforma cada foto numa âncora particular */
}

/* Aplica o estilo apenas nas fotos, ignorando os enfeites */
.polaroid img:not(.enfeite) {
    width: 100%; 
    height: auto;
    box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 2px; 
    transition: all 0.6s ease; 
}

.polaroid:nth-child(odd) img:not(.enfeite) { 
    transform: rotate(-0.1deg); 
}

.polaroid:nth-child(even) img:not(.enfeite) { 
    transform: rotate(0.1deg); 
}

.polaroid img:not(.enfeite):hover {
    transform: rotate(0deg) scale(1.05) translateY(-5px); 
    z-index: 10; 
    box-shadow: 8px 15px 30px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
}











/* =========================================
   BASE DOS ENFEITES (Geral)
========================================= */
.enfeite {
    position: absolute;
    z-index: -1; 
    pointer-events: none;
}


/* ARRANJOS CURVADOS */
.arranjo-curvado1 { 
    top: -27px;
    right: -25px; 
    width: 240px;
    transform: rotate(1deg);
}
.arranjo-curvado2 { 
    top: 25%; 
    left: -200px; 
    width: 350px; 
    transform: rotate(50deg);

}




/* GIRASSÓIS */
.Girassol1 { 
    bottom: -40px; /* Desce um pouquinho da borda de baixo da foto */
    right: 40px;  /* Vai um pouquinho pra direita da foto */
    width: 105px !important;
    z-index: 5; /* Joga ele por cima da foto */
}

.Girassol2 { 
    top: 9%; 
    left: -40px; 
    width: 210px; 
    z-index: 1; 

}




/* TEMÁTICOS (Psico e Livros) */
.psicologia { 
    top: 83%; 
    right: -16px; 
    transform: translate(-50%, -50%); 
    width: 50px; 
    z-index: 2; 

}
.Livros { top: 65%; right: 10px; width: 60px; z-index: 2; }





/* FOLHAS */
.folhas1 { 
    top: 10%; 
    right: 10px; 
    width: 110px; 
    transform: rotate(-38deg) scaleX(-1);
}

.folhas2 { 
    top: 0%; 
    width: 100px;
    left: 10px; 
    transform: rotate(180deg);
}
.folhas3 { 
    top: 25%; 
    right: -7%; 
    width: 100px; 
    transform: rotate(-15deg);
}





/* ARRANJOS RETOS */
.arranjo-reto1 { 
    bottom: 47%;
    right: -155px; 
    width: 450px; 
    transform: rotate(-90deg);

}
.arranjo-reto2 { 
    bottom: 18%; 
    left: -120px; 
    width: 310px; 
    transform: rotate(90deg);
    z-index: -2; 

}



















/* --- animações do primeiro container
*/








.Girassol1 {
    pointer-events: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
    -webkit-touch-callout: none;
    user-select: none;
}

.girassol1-animado {
    transform: rotate(-22deg);
}


.Girassol2 {
    pointer-events: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
    -webkit-touch-callout: none;
    user-select: none;

}

.girassol2-animado {
    transform: scale(0.9);
}


@keyframes balancarPlanta {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-15deg); } /* Vai pra esquerda */
    50%  { transform: rotate(10deg); }  /* Volta um pouco pra direita */
    75%  { transform: rotate(-5deg); }  /* Esquerda de novo, mais fraco */
    100% { transform: rotate(0deg); }   /* Para no lugar */
}

/* A classe que o JavaScript vai usar */
.girassol-balancando {
    animation: balancarPlanta 1.0s ease-in-out;
}
    



@keyframes tremerFolhas {
    0%   { margin-top: 0px; margin-left: 0px; }
    25%  { margin-top: -2px; margin-left: 2px; }  /* Tremidinha pra diagonal cima-direita */
    50%  { margin-top: 2px; margin-left: -1px; }  /* Diagonal baixo-esquerda */
    75%  { margin-top: -1px; margin-left: -2px; } /* Diagonal cima-esquerda */
    100% { margin-top: 0px; margin-left: 0px; }   /* Volta pro eixo */
}

.tremendo {
    /* 0.1s infinite: Ela vai vibrar muito rápido sem parar, 
       até o JavaScript ir lá e arrancar essa classe depois dos 600ms! */
    animation: tremerFolhas 1.1s infinite; 
}


.arranjo-curvado3-container1{
    display: none;
}






/* =========================================
CONTAINER DOIS - MÁQUINA DE ESCREVER
========================================= */



/* ================= ESTILO DO SEGUNDO CONTAINER ================= */
.secao-maquina {
    min-height: 100vh;
    width: 100%; /* Garante que não vai passar da largura da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}



.sol{
    position: absolute;
    top: -100px;
    left: -20px;
    width: 40%;
    z-index: 100;
}


.arranjo-curvado-container2{
    position: absolute;
    transform: rotate(210deg);
    top: -140px;
    right: -95px;
    width: 40%;
}

.abelha{
    position: absolute;
    width: 20%;
    top: -30px;
    right: -13px;
    transform: scaleX(-1) rotate(40deg);
}





.gif{
    position: absolute;
    bottom: 10%;
    left: 21%;
    width: 250px;
}


/* Deixa o texto invisível no começo e prepara a transição suave */




/* As 3 girassois da direita */

.girassol1-container2{
    position: absolute;
    width: 65px;
    top: 29%;
    right: 17px;
    transform: rotate(-57deg);

}

.girassol2-container2{
    position: absolute;
    width: 95px;
    top: 37%;
    right: 15%;
    transform: rotate(-37deg);

}

.girassol3-container2{
    position: absolute;
    width: 65px;
    right: 60px;
    top: 51%;
    z-index: 1;
    transform: rotate(-27deg);
}

.abelha2{
    position: absolute;
    width: 60px;
    transform: rotate(230deg);
    top: 42%;
    right: 10%;
}


/* As 3 folhas da direita */

.folhas1-container2{
    position: absolute;
    width: 60px;
    right: -12px;
    top: 32%;
    transform: rotate(-18deg);
    z-index: -1;
    transform: scaleX(-1) rotate(30deg);

}

.folhas2-container2{
    position: absolute;
    width: 70px;
    right: -12px;
    top: 49%;
    transform: scaleX(-1) rotate(75deg);


}

.folhas3-container2{
    position: absolute;
    width: 95px;
    right: -12px;
    top: 39%;
    transform: scaleX(-1) rotate(40deg);
}


/* As 2 folhas da esquerda */

.folhas4-container2{
    position: absolute;
    width: 100px;
    top: 39%;
    left: -10px;
    transform: rotate(28deg);

}


.folhas5-container2{
    position: absolute;
    width: 70px;
    left: -3px;
    top: 56%;
    transform: rotate(30deg);

}


/* As 4 girassois da esquerda */


.girassol4-container2{
    position: absolute;
    width: 97px;
    left: 6%;
    top: 34%;
    transform: rotate(20deg);
}

.girassol5-container2{
    position: absolute;
    width: 65px;
    left: 20%;
    top: 42%;
    transform: rotate(30deg);
}

.girassol6-container2{
    position: absolute;
    width: 67px;
    left: 0;
    top: 45%;
    transform: rotate(34deg);
}

.girassol7-container2{
    position: absolute;
    width: 55px;
    left: 0;
    top: 59%;
    transform: rotate(50deg);
}








.arranjo1-reto-container2{
    position: absolute;
    bottom: 9%;
    width: 230px;
}

.arranjo2-reto-container2{
    position: absolute;
    bottom: 2%;
    width: 230px;
    transform: scaleY(-1);
}




.caixa-texto h2 {
    font-family: 'Great Vibes', 'Courier New', Courier, monospace;
    font-size: clamp(24px, 4vw, 40px);
    color: #333;
    text-align: center;
    font-weight: normal;
    max-width: 300px;
    height: 80vh; 
}

.texto-container2{
    position: absolute;
    top: 56%;
    left: 39%;
    opacity: 0.5;

}

.efeito-fantasma {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.efeito-fantasma.aparecer {
    opacity: 0.6;
}

/* O efeitinho da barrinha de texto piscando */
.cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color: #333;
    animation: piscar 0.8s infinite;
    vertical-align: middle;
    margin-left: 5px;
}

@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}














/* =========================================
CONTAINER TRÊS - AMIGOS
========================================= */







.amigos{
    min-height: 100vh;
    width: 100%; /* Garante que não vai passar da largura da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;

}































/* =========================================
   4. MEDIA QUERIES (Adaptando pro Computador)
========================================= */
@media (min-width: 900px) {
    
    .container {
        width: 100%;
        max-width: none; 
        margin: 0;
        padding: 0;
        display: block; 
        position: relative; 
    }

    .arranjo-curvado3-container1{
        display: block;
        position: absolute  ;
        width: 500px ;
        right: 29%;
        bottom: -13%;
        transform: rotate(140deg);
    }





    .conteudo-central {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
        gap: 100px;
        max-width: 70%; 
        margin: 0 auto; 
        min-height: 100vh;
        padding: 40px;
    }

    .secao-mensagem {
        order: 2; 
        width: 35%; 
        margin-bottom: 0;
        min-height: auto; 
    }







    
    .secao-fotos {
        order: 1; 
        width: 55%; 
        gap: 25px; 
        grid-template-columns: repeat(3, 1fr); 
        min-height: auto; 
    }






    /* MEXENDO NAS IMGs DE DECORAÇÃO*/

    .Livros {
        top: 50%;
        left: 15%;
    }

    .psicologia {
        bottom: auto;
        left: 18%;
        top: 20%;
    }

    .arranjo-curvado1 {
        width: 700px;
        right: -40px;
        top: -100px;
    }

    .arranjo-curvado2 {
        /* 1. Desliga as regras que vieram do celular */
        top: auto; 
        left: auto; /* Só por garantia, se você tiver usado left lá */
        /* 2. Agora sim ele vai obedecer as suas regras novas! */
        left: -370px; /* -700px me pareceu muito, ele vai sumir da tela! Reduzi pra testar */
        bottom: -210px;
        transform: rotate(55deg);
        width: 600px;
    }

    .arranjo-reto2 {
        top: auto;
        left: auto;
        right: 20%;
        bottom: 0;
        width: 800px;
        transform: rotate(0deg);
    }

    .arranjo-reto1 {
        top: -10px;
        left: auto;
        right: 50%;
        bottom: auto;
        transform: rotate(180deg);
        width: 800px;
    }

    .folhas1 {
        top: auto;
        left: auto;
        bottom: -30px;
        width: 250px;
   
    }


    .folhas2 {
        width: 200px;
        top: auto;
        left: auto;
    }
    
    
    .folhas3 {
        pointer-events: auto;
        top: -40px;
        left: auto;
        right: 38%;
        bottom: auto;
        width: 230px;
        transform: rotate(180deg);
    }






    /* ANIMAÇÕES */


    
    .Girassol1 {
        pointer-events: auto;
        width: 140px !important;
        bottom: -70px;
        cursor: pointer;
    }
    
    .Girassol2 { 
        top: 40%; 
        left: 0; 
        width: 210px; 
        z-index: 1; 

    }





    .Girassol1, .Girassol2 {
        transition: all 0.3s ease; /* O 'all' garante que o filtro de luz também fique suave */
    }

    /* O brilho perfeito e sutil quando o mouse passa por cima */
    .Girassol1:hover, .Girassol2:hover {
        /* 1.15 = Apenas 15% mais claro. Sem cegar a Manuela! */
        filter: brightness(1.2); 
    }
















    /* ================= ESTILO DO SEGUNDO CONTAINER ================= */



    .gif{
        position: absolute;
        bottom: 2%;
        left: 42%;
        width: 380px;
    }

    .caixa-texto {
        position: absolute;
        width: 90%;
        max-width: 700px;
        margin: 80px auto 0;
        top: 15%;    
    }

    #texto-digitado {
        width: 100% !important;
        max-width: none !important; /* Mata qualquer limite de 300px que o JS ou CSS possa estar forçando */
        font-size: 30px;
        text-align: center !important;
        display: block;
        margin: 0 auto;
    }


    .texto-container2{
        position: absolute;
        top: auto;
        bottom: 50%;
        left: 49%;

    }


    .arranjo1-reto-container2{
        position: absolute;
        bottom: 0;
        width: 420px;
        left: 41%;
    }

    .arranjo2-reto-container2{
        position: absolute; 
        bottom: -10%;
        width: 420px;
        left: 41%;
        transform: scaleY(-1);
    }





    /* direita */

    .girassol1-container2{
        right: 50px;
        top: 13%;
        width: 175px;
        z-index: 1;
        transform: rotate(-4deg);
    }

    .girassol2-container2{
        right: 240px;
        top: 34%;
        width: 205px;
        z-index: 1;
    }

    .girassol3-container2{
        right: 150px;
        top: 65%;
        width: 155px;
        z-index: 1;
        transform: rotate(-99deg);
    }







    .folhas1-container2{
        width: 200px;
        right: -82px;
        top: 18%;
        transform: scaleX(-1) rotate(40deg);
        z-index: -1;

    }

    .folhas2-container2{
        position: absolute;
        width: 250px;
        right: -12px;
        top: 30%;
        transform: scaleX(-1) rotate(55deg);

    }

    .folhas3-container2{
        position: absolute;
        width: 200px;
        right: -82px;
        top: 52%;
        transform: scaleX(-1) rotate(88deg);

    }


    .abelha{
        position: absolute;
        width: 4%;
        top: 70%;
        left: 4%;
        transform: scaleX(1) rotate(-40deg);

    }

    .abelha2{
        position: absolute;
        width: 8%;
        top: 42%;
        right: 40px;
        transform: rotate(100deg);
        z-index: 10;

    }

    .arranjo-curvado-container2{
        display: none !important;
    }







    /* esquerda */

    .sol{
        position: absolute;
        top: -15%;
        left: -60px;
        width: 23%;
        z-index: 100;
    }


    .arranjo-curvado-container2{
        position: absolute;
        transform: rotate(210deg);
        top: -140px;
        right: -95px;
        width: 40%;
    }


    /* As 2 folhas da esquerda */

    .folhas4-container2{
        position: absolute;
        width: 120px; /* Era 100px */
        top: 62%;
        left: -10px;
        transform: rotate(28deg);

    }


    .folhas5-container2{
        position: absolute;
        width: 84px; /* Era 70px */
        left: -3px;
        top: 79%;
        transform: rotate(30deg);

    }


    /* As 4 girassois da esquerda */


    .girassol4-container2{
        position: absolute;
        width: 116px; /* Era 97px */
        left: 2%;
        top: 57%;
        transform: rotate(20deg);
    }

    .girassol5-container2{
        position: absolute;
        width: 78px; /* Era 65px */
        left: 5%;
        top: 65%;
        transform: rotate(36deg);
    }

    .girassol6-container2{
        position: absolute;
        width: 80px; /* Era 67px */
        left: 0;
        top: 68%;
        transform: rotate(4deg);
    }

    .girassol7-container2{
        position: absolute;
        width: 66px; /* Era 55px */
        left: 37px;
        top: 76%;
        transform: rotate(70deg);
    }





}